@model Bootcamp.Domain.Users.User

<form method="post" asp-action="Delete">
    <h1>Kullanıcı Sil</h1>

    <input asp-for="Id" hidden />

    <div class="girisalani">
        <label asp-for="UserName"></label>
        <input disabled asp-for="UserName" />
    </div>
    <div class="girisalani">
        <label asp-for="EmailAddress"></label>
        <input disabled asp-for="EmailAddress" />
    </div>

    <button type="submit" class="kaydetmeButonu">Sil</button>
    <a asp-controller="User" asp-action="Index">Listeye geri dön</a>
</form>
